@mixin widgetTitle {
  .widget-title {
    text-align: left;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .widget-description {
    font-size: 14px;
    font-weight: 600;
    color: rgb(114, 114, 114);
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}